#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#mainbody {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#sidebar {
    position : fixed;
    width: 250px;
    height: 100%;
    background: black;
    left: -250px;
    transition: all 200ms linear;
    opacity : 0.9;
}
#sidebar.active {
    left: 0px;
    overflow-y: scroll;
}

.collapsible {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    height: 30px;
    line-height: 0px;
    width: 250px;
    text-align: center;
    outline: none;
    font-size: 15px;
    border:none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

}
.active, .collapsible:hover {
    background-color: #262626;
}

.content {
    background-color: #262626;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.content.active {
    padding : 6px 6px;
}
.content.active:after{
    content : "";
}

.collapsible:after {
  content: '\2228'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2227"; /* Unicode character for "minus" sign (-) */
}

.layerCheckbox{
    float : left;
    vertical-align : bottom;
    padding : 0px 0px;
    margin : -5px 0px;
}

.collapsible_layer {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 18px;
    line-height: 0px;
    width: inherit;
    text-align: center;
    outline: none;
    font-size: 15px;
    border:none;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;

}
.active {
    background-color: #262626;
}
.collapsible_layer.active:after{
    content : "";
}

.layer-content {
    padding: 0 18px;
    margin:0 0;
    background-color: #262626;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapse_button {
     /* Unicode character for down arrow */
    background-color: black;
    color: white;
    float: right;
    text-align: center;
    position : inherit;
    top : -3px;
    padding: 0px 7px;
    margin: -8px -7px;

}
.collapse_button:after {
    content: '\2228';
}

.collapse_button.active {
    background-color: #262626;
}
.collapse_button.active:after {
    content: "\2227";
}

#sidebarHeader{
    color: white;
    text-align: center;
    font-weight: bold;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 280px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0px;

}


