<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>siggisgis</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
{#    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>#}
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src="static/sidebar.js"></script>
    <script src="static/fileHandler.js"></script>
    <script src="static/layerHandler.js"></script>
    <script src="static/colorPicker.js"></script>
    <script src="static/attributeWindow.js"></script>
    <script src="static/tools/buffer.js"></script>
    <script src="static/tools/merge.js"></script>
    <script src="static/tools/intersect.js"></script>
    <script src="static/tools/difference.js"></script>
    <script src="static/tools/featureSelector.js"></script>
    <script src = "static/workers/unionWorker.js"></script>
    <script src = "static/workers/intersectWorker.js"></script>
    <script src = "static/workers/differenceWorker.js"></script>

</head>
<body id = mainbody>
    <div id='map'>
        <script>
            L.mapbox.accessToken = 'pk.eyJ1Ijoic2lncmlkbGVkc2FhayIsImEiOiJjanJhcXVxaHIwNjRsNDludjg0YnFhNDY0In0.KlxYqykBUZfcRcwfu3lIvQ';
            var map = L.mapbox.map('map','mapbox.streets', {zoomControl: false })
            .setView([63.426827, 10.391906], 13)
        </script>
    </div>
    <div id = "burgerButton" class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id = sidebar>
        <h3 id = "sidebarHeader">Tools <i class="fas fa-tools"></i> </h3>
        <button class="collapsible" data-listener = "false">Buffer</button>
        <div class = "content">
            <select id = "bufferDrop" class = "toolDrop">
                <option label = "Select layer">Select layer</option>
            </select>
            <input class = "userinput" id = "bufferRadius" type="text" name="radius" placeholder="Radius (km)">
            <button class ="submit" onclick="buffer(document.getElementById('bufferDrop').options[document.getElementById('bufferDrop').selectedIndex].value,document.getElementById('bufferRadius').value)">Buffer</button><span id = "bufferWarning"></span>
        </div>
        <button class = "collapsible" data-listener = "false">Union</button>
        <div class = "content">
            <select id = "unionDrop1" class = "toolDrop">
                <option label = "Select 1. layer">Select 1. layer</option>
            </select>
            <select id = "unionDrop2" class = "toolDrop">
                <option label = "Select 2. layer">Select 2. layer</option>
            </select>
            <button class ="submit" onclick="union(document.getElementById('unionDrop1').options[document.getElementById('unionDrop1').selectedIndex].value,document.getElementById('unionDrop2').options[document.getElementById('unionDrop2').selectedIndex].value)">Union</button><span id = "unionWarning"></span> <div class="loader" id ="unionLoader"></div>
        </div>
        <button class = "collapsible" data-listener = "false">Intersection</button>
        <div class="content">
            <select id = "intersectDrop1" class = "toolDrop">
                <option label = "Select 1. layer">Select 1. layer</option>
            </select>
            <select id = "intersectDrop2" class = "toolDrop">
                <option label = "Select 2. layer">Select 1. layer</option>
            </select>
            <button class ="submit" onclick="intersect(document.getElementById('intersectDrop1').options[document.getElementById('intersectDrop1').selectedIndex].value,document.getElementById('intersectDrop2').options[document.getElementById('intersectDrop2').selectedIndex].value)">Intersect</button><span id = "intersectWarning"></span> <div class="loader" id ="intersectLoader"></div>
        </div>
        <button class="collapsible" data-listener = "false">Difference</button>
        <div class = "content">
            <select id = "differenceDrop1" class = "toolDrop">
                <option label = "Select 1. layer">Select 1. layer</option>
            </select>
            <select id = "differenceDrop2" class = "toolDrop">
                <option label = "Select 2. layer">Select 2. layer</option>
            </select>
            <button class ="submit" onclick="differences(document.getElementById('differenceDrop1').options[document.getElementById('differenceDrop1').selectedIndex].value,document.getElementById('differenceDrop2').options[document.getElementById('differenceDrop2').selectedIndex].value)">Difference</button><span id = "differenceWarning"></span> <div class="loader" id ="differenceLoader"></div>
        </div>
        <button class="collapsible" data-listener = "false">Feature Selection</button>
        <div class = "content">
            <select id = "featureSelectionDrop" class = "toolDrop">
                <option label = "Select layer">Select layer</option>
            </select>
            <button class = "submit" onclick="openWindow(document.getElementById('featureSelectionDrop').options[document.getElementById('featureSelectionDrop').selectedIndex].value)">Open tool</button>
            <span id = "featureSelectorWarning"></span>
        </div>
        <!-- The Modal -->
        <div id="featureSelectionModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
              <span id="closeButton" class = "close">&times;</span>
              <h4 style ="border-bottom: 1px solid grey">Feature Selector for <span id = "modalLayerName"></span></h4>
              <h6 id = "modalWarning"></h6>
              <div class = "constraintContent">
                  <div class = "constraintRow" id = "firstConstrainRow">
                      <select id = "propertiesDrop" onchange="updatePropertyValuesDrop()">
                        <option label = "Select feature">Select feature</option>
                      </select>
                      <select id = "rulesDrop">
                          <option label = "Select function" disabled>Select function</option>
                          <option value = "==">=</option>
                          <option value = ">">></option>
                          <option value = "<"><</option>
                          <option value = ">=">>=</option>
                          <option value = "<="><=</option>
                          <option value = "!=">!=</option>
                      </select>
                      <select id = "propertyValuesDrop">
                          <option label = "Select value">Select value</option>
                      </select>
                      <button class = "submit" onclick="addConstraint()">+</button>
                      <button class = "submit" onclick="removeConstraint()" style ="display : none " id = "minusButton">-</button>
                  </div>
              </div>
              <br>
              <button class = "submit" onclick = "featureSelection()">Select features</button>

          </div>

        </div>

        <h3 id = "sidebarHeader">Layers <i class="fas fa-layer-group"></i></h3>
        <div class = "layerList" id="layerListParent"></div>
        <button class = "collapsible" data-listener = "false">Upload files</button>
        <div class = "content">
            <label for = "input">Select a zipped shapefile or a .geojson file:</label>
            <input type = "file" id = "file"> <br>
            <input type = "submit" id = "submit" onclick="uploadFiles()"> <span id="warning"></span>
        </div>
        <h3 id="Logo">siggisgis  <i class="fas fa-globe"></i></h3>
    </div>
    <div id ="attributeWindow">
        <span id="closeButtonAttribute" onclick="closeAttributeWindow()">&times;</span>
        <div id = "attributeList"></div>
    </div>
</body>

    <script src = "static/mapHandler.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>
    <script src="https://cdn.rawgit.com/calvinmetcalf/leaflet.shapefile/gh-pages/leaflet.shpfile.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

</html>