<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>siggisgis</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>
    <script src="https://cdn.rawgit.com/calvinmetcalf/leaflet.shapefile/gh-pages/leaflet.shpfile.js"></script>
    <script src="static/sidebar.js"></script>
    <script src="static/upload.js"></script>
    <script src="static/colorPicker.js"></script>
    <script src="static/workers/buffer.js"></script>
    <script src="static/workers/merge.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
</head>
<body id = mainbody>
    <div id='map'>
        <script>
            L.mapbox.accessToken = 'pk.eyJ1Ijoic2lncmlkbGVkc2FhayIsImEiOiJjanJhcXVxaHIwNjRsNDludjg0YnFhNDY0In0.KlxYqykBUZfcRcwfu3lIvQ';
            var map = L.mapbox.map('map','mapbox.streets', {zoomControl: false })
            .setView([63.426827, 10.391906], 13)
            .addLayer(L.mapbox.styleLayer('mapbox://styles/sigridledsaak/ck620zhrk0n131int59scse0h'));
        </script>
    </div>
    <div id = "burgerButton" class="toggle-btn" onclick="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id = sidebar>
        <h3 id = "sidebarHeader">Tools <i class="fas fa-tools"></i> </h3>
        <button class="collapsible" data-listener = "false">Buffer</button>
        <div class = "content">
            <input class = "bufferInput" id = "bufferRadius" type="text" name="radius" placeholder="Radius (km)"><span id = "bufferWarning"></span>
            <input class = "bufferInput" id = "bufferLayer" type="text" name="layer" placeholder="Layername">
            <button class ="submit" onclick="buffer(document.getElementById('bufferRadius').value,document.getElementById('bufferLayer').value)">Make Buffer</button>
        </div>
        <button class = "collapsible" data-listener = "false">Union</button>
        <div class = "content"><p>This is the union content</p></div>
        <button class = "collapsible" data-listener = "false">Intersection</button>
        <div class="content"><p>This is the intersection content</p></div>
        <h3 id = "sidebarHeader">Layers <i class="fas fa-layer-group"></i></h3>
        <div class = "layerList" id="layerListParent"></div>
        <button class = "collapsible" data-listener = "false">Upload zip file</button>
        <div class = "content">
            <label for = "input">Select a zipped shapefile:</label>
            <input type = "file" id = "file"> <br>
            <input type = "submit" id = "submit" onclick="submitFiles()"> <span id="warning"></span>
        </div>
    </div>
</body>
</html>