<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>siggisgis</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
</head>
<body id = mainbody>
    <div id='map'></div>
</body>

<script>
    L.mapbox.accessToken = 'pk.eyJ1Ijoic2lncmlkbGVkc2FhayIsImEiOiJjanJhcXVxaHIwNjRsNDludjg0YnFhNDY0In0.KlxYqykBUZfcRcwfu3lIvQ';
    var map = L.mapbox.map('map')
    .setView([63.426827, 10.391906], 13)
    .addLayer(L.mapbox.styleLayer('mapbox://styles/sigridledsaak/ck620zhrk0n131int59scse0h'));
    //map.scrollWheelZoom.disable();
</script>
</html>